/* Enter your Styles below! */


body { 
	font-family: jaf-domus-titling-web, sans-serif;

	font-weight: 500;
	font-style: normal;	font-size: 16px;
}



h1 {
	font-size: 48px;
	font-family: jaf-domus-titling-web, sans-serif;

	font-weight: 500;
	font-style: normal;
	color: rgb(242,208,145);	
	background-color: rgb(166,73,107);

}

h2 {
	font-size: 36px;
	font-family: jaf-domus-titling-web, sans-serif;
	font-weight: 500;
	font-style: normal;
	color: rgb(242,208,145);	
	background-color: rgb(13,22,28);

}

h3 {
	font-size: 24px;
	font-family: jaf-domus-titling-web, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: rgb(242,208,145);	
	background-color: rgb(13,22,28);

}

img { width: 100%; }


header {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	margin-bottom: 20px;}


	* {
		box-sizing: border-box;
		margin-right: 0;
		padding: 0;
		background-color: rgb(28,50,64);

	}

	.logo {
		cursor: pointer;
		width: 70%;
	}

	li, a, button {
		color: rgb(242,208,145);
		text-decoration: none;
		justify-content: right;
		font-family: jaf-domus-titling-web, sans-serif;

		font-weight: 500;
		font-size: 20px;
		font-style: normal;
	}

	.nav_links{
		list-style: none;

	}

	.nav_links li {
		display: inline-block;
		padding: 5px 20px;

	}

	

	.nav_links li a {
		transition: all 0.3s ease 0s
	}

	.nav_links li a:hover {
		color: rgb(166,73,107);
	}

	button {
		padding: 9px 25px;
		background-color: rgba(166,73,107,1);
		border: none;
		border-radius: 50px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		display: block;
		margin-bottom: 20px; 
		margin-top: 20px;

	}

	button:hover{
		background-color: rgba(166,73,107,.8);

	}







	.banner {
		height: 80px;
		display: flex;
		align-items: center;
		background-color: rgb(166,73,107);



	}

	.center-me {

		margin: auto;
		align-self: stretch;
	}





	.maincontainer {
		max-width: 1000px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 50px;



	}


	.nowplayingcontainer {
		max-width: 500px;
		margin: 0 auto;
		display: flex;



	}

	.first{
		padding: 5px;
		flex-basis: 50%;
		background-color: rgb(13,22,28);

	}

	.jokertitle{
		background-color: rgb(13,22,28);
		flex-basis: 50%;
		margin-bottom: 20px;
		align-self: left;
	}

	.jokerposter{
		background-color: rgb(13,22,28);
		flex-basis: 50%;
	}

	.second{
		padding: 5px;
		flex-basis: 40%;
		background-color: rgb(13,22,28);
		display: flex;
		flex-direction: column;

	}

	

	

	.joker1{
		background-color: rgb(13,22,28);
		flex-basis: 50%;
		margin-bottom: 20px;
	}

	.joker2{
		background-color: rgb(13,22,28);
		flex-basis: 50%;
		align-self: center;


	}

	/* Main content */
	.main {
		margin-top: 50px; 
		/* Add a top margin to avoid content overlay */
	}



	@media only screen and (min-width: 768px) {
		body {
			background-color: ;
		}
	}

	@media only screen and (min-width: 1024px) {
		body {
			background-color: ;
		}
	}

	@media only screen and (min-width: 1200px) {
		body {
			background-color: ;
		}
	}
