/* Enter your Styles below! */


body { 
	font-family: jaf-domus-titling-web, sans-serif;

	font-weight: 500;
	font-style: normal;	font-size: 16px;
}



h1 {
	font-size: 48px;
	font-family: jaf-domus-titling-web, sans-serif;

	font-weight: 500;
	font-style: normal;
	color: rgb(242,208,145);	
	background-color: rgb(166,73,107);

}

h2 {
	font-size: 36px;
	font-family: jaf-domus-titling-web, sans-serif;
	font-weight: 500;
	font-style: normal;
	color: rgb(242,208,145);	
}

h3 {
	font-size: 24px;
	font-family: jaf-domus-titling-web, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: rgb(242,208,145);	
	background-color: rgb(13,22,28);

}

img { width: 100%; }


header {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	margin-bottom: 20px;}


	* {
		box-sizing: border-box;
		margin-right: 0;
		padding: 0;
		background-color: rgb(28,50,64);

	}

	.logo {
		cursor: pointer;
		width: 70%;
	}

	li, a, button {
		color: rgb(242,208,145);
		text-decoration: none;
		justify-content: right;
		font-family: jaf-domus-titling-web, sans-serif;

		font-weight: 500;
		font-size: 20px;
		font-style: normal;
	}

	.nav_links{
		list-style: none;

	}

	.nav_links li {
		display: inline-block;
		padding: 5px 20px;

	}

	

	.nav_links li a {
		transition: all 0.3s ease 0s
	}

	.nav_links li a:hover {
		color: rgb(166,73,107);
	}

	button {
		padding: 9px 25px;
		background-color: rgba(166,73,107,1);
		border: none;
		border-radius: 50px;
		cursor: pointer;
		transition: all 0.3s ease 0s;


	}

	button:hover{
		background-color: rgba(166,73,107,.8);

	}

	.banner {
		height: 80px;
		display: flex;
		align-items: center;
		background-color: rgb(166,73,107);

	}

	.center-me {

		margin: auto;
		align-self: stretch;
		margin-bottom: 22px;
	}



  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   	max-height: 300vh; 

  }
  .nowplaying {
  	display: flex;
  	flex-direction: column;
    width: 500px;
    margin: 10px;
} 
 
  .nowplaying h3 {

    padding: 20px;
    
  }

  .title {
  display: flex;
		justify-content: space-around;
  		background-color: rgb(13,22,28);

  }

  .showtimes {
  	    display: flex;
  	    padding: 15px;
		justify-content: space-around;
  		background-color: rgb(13,22,28);
  }



















	@media only screen and (min-width: 768px) {
		body {
			background-color: ;
		}
	}

	@media only screen and (min-width: 1024px) {
		body {
			background-color: ;
		}
	}

	@media only screen and (min-width: 1200px) {
		body {
			background-color: ;
		}
	}
