/* Enter your Styles below! */


body { 
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	 }

h1, h2, h3, h4 {
	font-family: Helvetica, sans-serif;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}

blockquote {
	margin: 20px 60px;
	font-family: Helvetica, sans-serif;
}

   .bs-example{
        margin: 20px;
        background-color: black;
    }
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: center;
    display: block;
    text-align: left;
  }

.mainimage{ float: center;

}
  }
  .header-right {
    float: none;
  }
}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */

a { 
	color: red;
	text-decoration: none;
	 }
a:hover { color: black; }

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	width: 60%;
	margin: auto;
}

.grid div {
	background-color: #ccc;
	padding: 20px;
}
